html,
body {
  height: 100vh;
  width: 100vw;
}
a {
  text-decoration: none;
}

input {
  border: 1px solid var(--el-border-color);
  color: #606266;
  outline: none;
  padding: 3px;
  border-radius: 4px;
  &:focus {
    border-color: #409eff;
  }
}
.border-top {
  border-top: 1px solid var(--el-border-color);
}
.border-bottom {
  border-bottom: 1px solid var(--el-border-color);
}
.border-left {
  border-left: 1px solid var(--el-border-color);
}
.border-right {
  border-right: 1px solid var(--el-border-color);
}

.item-con {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 20px 0 10px;
  font-size: 13px;
  .axis-warning {
    margin: 20px 0 0;
    width: 50px;
  }
  & > input {
    flex: 1;
  }
  & > span {
    margin-right: 5px;
    min-width: 30px;
  }
}
.item-con-double {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  margin: 10px 20px 0 10px;
  & > section {
    display: flex;
    & > * {
      align-self: center;
    }
    & > span {
      margin-right: 5px;
      min-width: 30px;
    }
    & > *:not(span) {
      flex: 1;
    }
    &:first-child {
      margin-right: 25px;
    }
  }
}

.title-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  color: #409eff;
  .title-item {
    flex: 1;
    margin-left: 10px;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.flex_con {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
