a {
  text-decoration: none;
}

input {
  border: 1px solid var(--el-border-color);
  color: #606266;
  outline: none;
  padding: 5px;
  border-radius: 4px;
}
.border-top {
  border-top: 1px solid var(--el-border-color);
}
.border-bottom {
  border-bottom: 1px solid var(--el-border-color);
}
.border-left {
  border-left: 1px solid var(--el-border-color);
}
.border-right {
  border-right: 1px solid var(--el-border-color);
}
